extends layout

block content
  main.splash
    div.authors
      img(src='http://placehold.it/400x250')
      h2 
        a(href='/authors') Authors 
    div.book
      img(src='http://placehold.it/400x250')
      h2
        a(href='/books') Books
