extends layout

block title
  title Galvanize Reads

block content
  header 
    img(src='http://placehold.it/40x40')
    h1 Galvanize Reads
  main.splash
    div.authors
      img(src='http://placehold.it/350x250')
      h2 
        a(href='/authors') Authors 
    div.book
      img(src='http://placehold.it/350x250')
      h2
        a(href='/books') Books
