extends layout

block content
  main.splash
    div.authors
      img(src='http://placehold.it/400x250')
      h2 
        a(href='/authors') Authors 
    div.book
      img(src='http://placehold.it/400x250')
      h2
        a(href='/books') Books
    div.options
      h2 Name or Title
      form(method='GET' action='/search')
        input(type='text' name='terms')
        button Search
